<h1 class="section-header">Subjects in RxJs</h1>

<div class="p-3 mb-2 card-view">
  <div class="row">
    <div class="col">
      <p>2 ways of emitting an event.</p>

      <img
        src="https://i.ibb.co/xhL5tKP/Screenshot-2022-11-04-at-1-56-33-AM.png"
        style="width: 100%;margin: 5px 0 50px 0;"
        alt="RxJs"
      />
      <p>Defining Event Emitter using Angular and RxJs</p>

      <img
        src="https://i.ibb.co/5MfQgbM/Screenshot-2022-11-04-at-1-56-02-AM.png"
        style="width: 100%"
        alt="RxJs"
      />
    </div>
    <div class="col">
      <p>
        These are mainly used when we do cross-component communication via
        services. Otherwise, for parent-child relationships, we have the @Input
        @Output decorator.
      </p>

      <p>
        Click the below button to send data from "SubjectsComponent" to
        "AppComponent" via service and toggle the RxJS on top-left corner.
      </p>

      <button class="btn btn-outline-dark" (click)="onActivate()">
        Activate
      </button>
    </div>
  </div>
</div>
