<div style="text-align: center">
  <h1 class="section-header">What is RxJs?</h1>
  <p class="lead" style="padding: 2% 5%;">
    RxJS (Reactive Extensions for JavaScript) is a library for reactive
    programming using observables that makes it easier to compose asynchronous
    or callback-based code.
  </p>
  <div style="padding: 50px 0"></div>
  <h1 class="section-header">Why do we need RxJs?</h1>
  <p class="lead" style="padding: 2% 5%;margin-bottom: 0;">
    RxJS provides an implementation of the Observable type, which is needed
    until the type becomes part of the language and until browsers support it.
    The library also provides utility functions for creating and working with
    observables. These utility functions can be used for:
  </p>
  <ul style="list-style-type: none;">
    <li>Converting existing code for async operations into observables</li>
    <li>Iterating through the values in a stream</li>
    <li>Mapping values to different types</li>
    <li>Filtering streams</li>
    <li>Composing multiple streams</li>
  </ul>
</div>
